#ball.rightTop{
    animation: ball-right-top 1s ease-in;
    transform: rotateZ(-60deg) translateY(20%) translateX(8%);
}

#ball.rightMiddle{
    animation: ball-right-middle 1s ease-in;
    transform: rotateZ(-60deg) translateY(35%) translateX(0%);
}

#ball.rightBottom{
    animation: ball-right-bottom 1s ease-in;
    transform: rotateZ(-57deg) translateY(35%) translateX(-10%);
}

#ball.centerTop{
    animation: ball-center-top 1s ease-in;
    transform: rotateZ(-45deg) translateY(-25%) translateX(10%);   
}

#ball.centerMiddle {
    animation: ball-center-middle 1s ease-in;
    transform: rotateZ(-50deg) translateY(-20%) translateX(-12%);
}

#ball.centerBottom{
    animation: ball-center-bottom 1s ease-in;
    transform: rotateZ(-40deg) translateY(-10%) translateX(-10%);
}

#ball.leftTop{
    animation: ball-left-top 1s ease-in;
    transform: rotateZ(35deg) translateY(-90%) translateX(-15%);
}

#ball.leftMiddle{
    animation: ball-left-middle 1s ease-in;
    transform: rotateZ(15deg) translateY(-70%) translateX(-10%);
}

#ball.leftBottom{
    animation: ball-left-bottom 1s ease-in;
    transform: rotateZ(5deg) translateY(-45%) translateX(-15%);
}

@keyframes ball-right-top {
    from {
        transform: rotateZ(0deg) translateY(0%) translateX(0%);
    }
    to {
        transform: rotateZ(-60deg) translateY(20%) translateX(8%);
    }
}

@keyframes ball-right-middle {
    from {
        transform: rotateZ(0deg) translateY(0%) translateX(0%);
    }
    to {
        transform: rotateZ(-60deg) translateY(35%) translateX(0%);
    }
}

@keyframes ball-right-bottom {
    from {
        transform: rotateZ(0deg) translateY(0%) translateX(0%);
    }
    to {
        transform: rotateZ(-57deg) translateY(35%) translateX(-10%);
    }
}

@keyframes ball-center-top {
    from {
        transform: rotateZ(0deg) translateY(0%) translateX(0%);
    }
    to {
        transform: rotateZ(-45deg) translateY(-25%) translateX(10%);
    }
}

@keyframes ball-center-middle {
    from {
        transform: rotateZ(0deg) translateY(0%) translateX(0%);
    }
    to {
        transform: rotateZ(-50deg) translateY(-20%) translateX(-12%);
    }
}

@keyframes ball-center-bottom {
    from {
        transform: rotateZ(0deg) translateY(0%) translateX(0%);
    }
    to {
        transform: rotateZ(-40deg) translateY(-10%) translateX(-10%);
    }
}

@keyframes ball-left-top {
    from {
        transform: rotateZ(0deg) translateY(0%) translateX(0%);
    }
    to {
        transform: rotateZ(35deg) translateY(-90%) translateX(-15%);
    }
}

@keyframes ball-left-middle {
    from {
        transform: rotateZ(0deg) translateY(0%) translateX(0%);
    }
    to {
        transform: rotateZ(15deg) translateY(-70%) translateX(-10%);
    }
}

@keyframes ball-left-bottom {
    from {
        transform: rotateZ(0deg) translateY(0%) translateX(0%);
    }
    to {
        transform: rotateZ(5deg) translateY(-45%) translateX(-15%);
    }
}




#standing-keeper.rightTop{
    animation: keeper-right-top 1s ease-out;
    transform: rotateZ(30deg) rotateX(-20deg) translateY(-80%) translateX(30%);
}

#standing-keeper.rightMiddle{
    animation: keeper-right-middle 1s ease-out;
    transform: rotateZ(30deg) rotateX(-20deg) rotateY(-5deg) translateY(-80%) translateX(40%);
}

#standing-keeper.rightBottom{
    animation: keeper-right-bottom 1s ease-out;
    transform: rotateZ(40deg) rotateX(-20deg) rotateY(-5deg) translateY(-80%) translateX(40%);
}

#standing-keeper.centerTop{
    animation: keeper-center-top 1s ease-out;
    transform:  translateY(-13%);
}


#standing-keeper.centerMiddle{
    animation: keeper-center-middle 1s ease-out;
    transform:  translateY(-2%);
}

#standing-keeper.centerBottom{
    animation: keeper-center-bottom 1s ease-out;
    transform:  rotateZ(180deg) rotateX(20deg) translateY(20%);
    transform-origin: center;
}

#standing-keeper.leftTop{
    animation: keeper-left-top 1s ease-out;
    transform: rotateZ(-30deg) rotateX(20deg) translateY(-10%) translateX(-45%);
}

#standing-keeper.leftMiddle{
    animation: keeper-left-middle 1s ease-out;
    transform: rotateZ(-30deg) rotateX(20deg) translateY(10%) translateX(-45%);
}


#standing-keeper.leftBottom{
    animation: keeper-left-bottom 1s ease-out;
    transform: rotateZ(-30deg) rotateX(20deg) translateY(30%) translateX(-55%);
}


@keyframes keeper-right-top {
    from {
        transform: rotateZ(0deg) rotateX(0deg) translateY(0%) translateX(0%);
    }
    to {
        transform: rotateZ(30deg) rotateX(-20deg) translateY(-80%) translateX(30%);
    }
}

@keyframes keeper-right-middle {
    from {
        transform: rotateZ(0deg) rotateX(0deg) translateY(0%) translateX(0%);
    }
    to {
        transform: rotateZ(30deg) rotateX(-20deg) rotateY(-5deg) translateY(-80%) translateX(40%);
    }
}

@keyframes keeper-right-bottom {
    from {
        transform: rotateZ(0deg) rotateX(0deg) translateY(0%) translateX(0%);
    }
    to {
        transform: rotateZ(40deg) rotateX(-20deg) rotateY(-5deg) translateY(-80%) translateX(40%);
    }
}

@keyframes keeper-center-top {
    from {
        transform: translateY(0%);
    }
    to {
        transform:  translateY(-13%);
    }
}

@keyframes keeper-center-middle {
    from {
        transform: translateY(0%);
    }
    to {
        transform:  translateY(-2%);
    }
}


@keyframes keeper-center-bottom {
    from {
        transform: rotateX(0deg) translateY(0%);
    }
    to {
        transform:  rotateZ(180deg) rotateX(20deg) translateY(20%);
    }
}

@keyframes keeper-left-top {
    from {
        transform: rotateX(0deg) translateY(0%);
    }
    to {
        transform: rotateZ(-30deg) rotateX(20deg) translateY(-10%) translateX(-45%);
    }
}

@keyframes keeper-left-middle {
    from {
        transform: rotateX(0deg) translateY(0%);
    }
    to {
        transform: rotateZ(-30deg) rotateX(20deg) translateY(10%) translateX(-45%);
    }
}

@keyframes keeper-left-bottom {
    from {
        transform: rotateX(0deg) translateY(0%);
    }
    to {
        transform: rotateZ(-30deg) rotateX(20deg) translateY(30%) translateX(-55%);
    }
}


#right-jump{
    opacity: 0;
}

#left-jump{
    opacity: 0;
}